@import url('href="//fonts.googleapis.com/css?family=Arvo');
/* top code snippet */
.top{
    background: #1F2937;
    color: white;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
a{
    color:white;
    font-size: 30px;
}
.header{
    display: flex;
    justify-content: space-around;
    flex:1;
    margin: px;
    font-family: Arvo;
}
ul{
    display:flex;
    justify-content: space-evenly;
    gap:20px;
}
.top-container{
    display: flex;
    justify-content: space-around;
    margin: 25px;
}
/*top middle*/
.middle-header{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.mainfourimages{
    display: flex;
    justify-content:center ;
    gap:52px;
    margin:30px;
}
img{
    width: 150px;
    height: 150px;
}
.fourimages{
    max-width: 200px;
    margin:25px;
    font-weight: bold;
    font-size: 18px;
}