@import url('href="//fonts.googleapis.com/css?family=Arvo');
*{
    font-family: Arvo;
}
/* top code snippet */
.top{
    background: #1F2937;
    color: white;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
a{
    color:white;
    font-size: 30px;
}
.header{
    display: flex;
    justify-content: space-around;
    flex:1;
    font-family: Arvo;
}
ul{
    display:flex;
    justify-content: space-evenly;
    gap:20px;
}
.top-container{
    display: flex;
    justify-content: space-around;
    margin: 25px;
}
/*top middle*/
.middle-header{
    font-size: 36px;
    height:150px;
    font-weight: bolder;
    color: #1F2937;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.mainfourimages{
    display: flex;
    justify-content:center ;
    gap:52px;
    margin:30px;
}
img{
    width: 150px;
    height: 150px;
}
.fourimages{
    max-width: 200px;
    margin:25px;
    font-weight: bold;
    font-size: 18px;
}
/* bottom-middle */
.bottom-middle{
    background: #e5e7eb;
    display:flex;
    width:100%;
    height: 350px;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}
.quote{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/*bottom part*/
.bottom{
    height:350px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.bottom-container{
    width: 40%;
    height:35%;
    border-radius: 10px;
    background-color: #3883f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.signup2{
    background-color: #3882f6;
    border: 1px solid white;
    border-radius: 7px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 25px;
    margin:25px;
}
/*footer*/
.footer{
    background-color: #1F2937;
    color:white;
    height:85px;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}